# use ":memory:" if you want an in-memory store, or "file:path/to/file.db" for an embedded file on the server.
# if remote, it must point to a sqlite (libsql) db (for now).
# defaults to ":memory:"
DB_URL=":memory:"

# may omit if you're storing locally (in memory or on file).
AUTH_TOKEN=

# optional, for at-rest encryption of the contents of your shard. if omitted, no encryption at rest is performed.
ENC_PASSPHRASE=

# port for the shard server to run on.
# defaults to 7337.
SERVER_PORT="7337"

# used for verifying inter-service jwts
# you *must* specify a did at which this shard may be found. may also include a service identifier.
# for more information on the service identifier, you may see https://atproto.com/specs/xrpc#inter-service-authentication-jwt
# usually a did:web, but if you're crazy you can put a did:plc, the verifier supports either anyway.
# defaults to did:web:localhost
SERVICE_DID="did:web:localhost"

# constellation instance. provide the full url.
# defaults to the public microcosm.blue constellation instance.
CONSTELLATION_URL="https://constellation.microcosm.blue/"

# required.
# owner did
# used to verify ownership of this shard and its related channels
OWNER_DID=
